<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/people.html">People</a></li>
            <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
            <li><a href="{{ site.baseurl }}/publications.html">Publications</a></li>
            <li><a href="{{ site.baseurl }}/software.html">Software</a></li>
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}
		    <!--            <li><a href="{{ site.baseurl }}/positions.html" class="button special">Join Us</a></li>-->
		      <li><a href="{{ site.baseurl }}/positions.html">Positions</a></li>
        </ul>
    </nav>
</header>
