<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>The Ronquist Lab</h2>
                <p style="color:white">Computational biology and insect systematics</p>
                <ul class="actions">
<!--                    <li><a href="{{ site.baseurl }}/positions.html" class="button big special">Join Us</a></li>
                    <li><a href="projects.html" class="button big alt">Learn More</a></li>-->
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
